.main-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-menu__colors {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.main-menu__colors .btn {
  margin: 4px;
}

@media (min-width: 1200px) {
  .panel.panel--main-menu {
    left: 10px;
    width: 280px;
    padding-right: 20px;
    background-color: transparent;
    border-radius: 0;
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
  }

  .panel.panel--main-menu::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    backdrop-filter: none;
    background-color: var(--accent-color);
    border-radius: 10px;
  }

  .btn--menu {
    display: none;
  }
}

