.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 40px;
  padding: 10px;
}

.form__title,
.form__subtitle,
.form__description {
  margin-bottom: 20px;
}

@media (min-width: 700px) {
	.form {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.input,
  .input-group {
		width: calc(50% - 10px);
	}
}

@media (min-width: 1200px) {
	.input,
  .input-group {
		width: calc(33.33% - 15px);
	}
}