fieldset {
	margin-bottom: 40px;
	padding: 10px;
	border: 2px solid var(--accent-color);
	border-radius: var(--radius-small);
}

fieldset .input:last-of-type,
fieldset .input-group:last-of-type {
	margin-bottom: 0;
}

legend {
	padding: 10px;
	background-color: var(--accent-color);
	color: var(--color-white);
	border-radius: var(--radius-main);
}