.site-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 40px;
}

.site-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(100% - 20px);
  height: 10px;
  background-color: var(--accent-color);
  border-radius: 10px;
  transform: translateX(-50%);
}

.btn--menu {
	margin: 0 auto;
}

@media (min-width: 1200px) {
	.site-footer {
		padding: 14px 10px 0;
	}

	.site-footer::before {
		content: 'SLIMMIND  \00a9  2024';
		height: 14px;
		text-align: center;
		color: var(--color-white-transparent);
		font-size: 12px;
	}
}